[Unit]
Description=armq receiving server

[Service]
Type=simple
ExecStart=/usr/bin/armq-receiver
Restart=always

[Install]
WantedBy=multi-user.target
